body {
    background: linear-gradient(30deg, #cff0ff, #efffe4, #fffdf4);
    background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.wrap {
    position: relative;
    overflow: hidden;
    margin: 50px 0;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
}

.container {
    display: none;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 7.5%;
    padding-right: 7.5%;
    border-radius: 15px;
    border: 2px dashed green;
    background-color: white;
    /* min-width: 100%; */
}